.App {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: aquamarine;
}

.container {
    background-color: coral;
    padding: 30px;
}

img {
    width: 500px;
}

.cartIcon {
    width: 50px;
}

.categoryButtonSelected:hover {
    background-color: rgb(41, 80, 235);
    padding: 5px;
}

.categoryButton:hover {
    background-color: #fdeb6b;
    padding: 5px;
  }

  .icon {
    width: 20px;
  }

  button {
    background-color: #fdeb6b;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
  }

  p,  h2, h3, button {
    font-size: 20px;
  }